
<app-search (emitSearch)="searchGit($event)"></app-search><br>
<div class="avatar">
<img src="{{Users.avatar_url}}" alt="profile pic" height="250px" width="250px">
                <p>Username: <strong>{{Users.login}}</strong></p>
                <p>Followers: <strong>{{Users.followers}}</strong></p>
                <p>Following: <strong>{{Users.followers}}</strong></p>
                <p>Public Repositories: <strong>{{Users.public_repos}}</strong></p>
                <p>Location: <strong>{{Users.location}}</strong></p>
</div>
        <div *ngIf='Repos'>
                  <div *ngFor='let repo of Repos'>
                        <h3>{{repo.name}}</h3>
                        <p> {{repo.description}} </p>
                        <p> {{repo.created_at | date}}</p>
                    </div>
                </div>

