/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
*{
  background-color:rgb(7, 153, 163);
  text-align: center;
}
.form-control{
  margin-bottom: 10px;
  font-style: italic;
  color: black;
  font-weight: bolder;
  padding-top: 10px;
  height: 50px;
  width: 500px;
  margin-left: 410px;
}
a :hover{
  color: black;
}
.header
{
  font-weight: bolder;
  font-style: italic;
  color: rgb(51, 14, 99);
}
